In [1]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import PolynomialFeatures, StandardScaler
import seaborn as sns

In [2]:
train = pd.DataFrame(pd.read_csv('train.csv'))

In [3]:
train.columns = [i.lower().replace(' ', '') for i in train.columns]

In [4]:
train.columns[0:5]

Index(['id', 'pid', 'mssubclass', 'mszoning', 'lotfrontage'], dtype='object')

In [5]:
train_subset = train.loc[:, [
    'id',
    'overallqual',
    'garagearea',
    'garagecars',
    'totalbsmtsf',
    'yearbuilt',
    'yearremod/add',
    'fullbath',
    'masvnrarea',
    'totrmsabvgrd',
    'saleprice'
]]

train_subset.head()

,id,overallqual,garagearea,garagecars,totalbsmtsf,yearbuilt,yearremod/add,fullbath,masvnrarea,totrmsabvgrd,saleprice
0,109,6,475.0,2.0,725.0,1976,2005,2,289.0,6,130500
1,544,7,559.0,2.0,913.0,1996,1997,2,132.0,8,220000
2,153,5,246.0,1.0,1057.0,1953,2007,1,0.0,5,109000
3,318,5,400.0,2.0,384.0,2006,2007,2,0.0,7,174000
4,255,6,484.0,2.0,676.0,1900,1993,2,0.0,6,138500

In [6]:
train_subset.isnull().sum()
#train_subset.drop(['garageyrblt'], axis = 1, inplace = True)
train_subset.dropna(axis = 0, how = 'any', inplace = True)

In [7]:
X_train = train_subset.loc[:, 
    ['overallqual',
    'garagearea',
    'garagecars',
    'totalbsmtsf',
    'yearbuilt',
    'yearremod/add',
    'fullbath',
    'masvnrarea',
    'totrmsabvgrd']]

y_train = train_subset['saleprice']

In [8]:
lr = LinearRegression()
lr.fit(X_train, y_train)
lr.score(X_train, y_train)

0.774197090023377

In [9]:
test = pd.DataFrame(pd.read_csv('test.csv'))
test.columns = [i.lower().replace(' ', '') for i in test.columns]
test.head()

,id,pid,mssubclass,mszoning,lotfrontage,lotarea,street,alley,lotshape,landcontour,...,3ssnporch,screenporch,poolarea,poolqc,fence,miscfeature,miscval,mosold,yrsold,saletype
0,2658,902301120,190,RM,69.0,9142,Pave,Grvl,Reg,Lvl,...,0,0,0,NaN,NaN,NaN,0,4,2006,WD
1,2718,905108090,90,RL,NaN,9662,Pave,NaN,IR1,Lvl,...,0,0,0,NaN,NaN,NaN,0,8,2006,WD
2,2414,528218130,60,RL,58.0,17104,Pave,NaN,IR1,Lvl,...,0,0,0,NaN,NaN,NaN,0,9,2006,New
3,1989,902207150,30,RM,60.0,8520,Pave,NaN,Reg,Lvl,...,0,0,0,NaN,NaN,NaN,0,7,2007,WD
4,625,535105100,20,RL,NaN,9500,Pave,NaN,IR1,Lvl,...,0,185,0,NaN,NaN,NaN,0,7,2009,WD

In [10]:
test_subset = test.loc[:,
            ['id',
            'overallqual',
            'garagearea',
            'garagecars',
            'totalbsmtsf',
            'yearbuilt',
            'yearremod/add',
            'fullbath',
            'masvnrarea',
            'totrmsabvgrd']]

In [11]:
#instead of dropping the row with one NaN value, replace with 0
test_subset[test_subset['masvnrarea'].isnull() == True]['masvnrarea']
test_subset.loc[866, 'masvnrarea'] = 0
#test_subset.dropna(how = 'any', axis = 0, inplace = True)

test_subset.isnull().sum()

id               0
overallqual      0
garagearea       0
garagecars       0
totalbsmtsf      0
yearbuilt        0
yearremod/add    0
fullbath         0
masvnrarea       0
totrmsabvgrd     0
dtype: int64

In [12]:
X_test = test_subset.loc[:, 
            ['overallqual',
            'garagearea',
            'garagecars',
            'totalbsmtsf',
            'yearbuilt',
            'yearremod/add',
            'fullbath',
            'masvnrarea',
            'totrmsabvgrd']]

In [13]:
y_test = lr.predict(X_test)
y_test[0:5]
y_test.mean()

179658.16418595132

In [14]:
test_subset['saleprice'] = y_test.round(2)

In [15]:
test_subset.sort_values(by = 'id', inplace = True)
test_subset.head()
test_subset.shape

(879, 11)

In [16]:
lr = LinearRegression()
lr.fit(X_test, y_test)
lr.score(X_test, y_test)

1.0

In [17]:
sample2 = test_subset.loc[:, ['id', 'saleprice']]

In [18]:
sample2.head()
sample2.shape

(879, 2)

In [19]:
sample2.columns = [i.capitalize() for i in sample2.columns]
sample2.set_index('Id', inplace = True)

In [20]:
sample2.head()

    Saleprice
Id
2   132210.28
4   240492.92
6   185761.23
7   239461.09
17  228097.08

In [21]:
sample2.to_csv('sample2_hc',index = 'Id')
#pd.read_csv('sample2_hc')